<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.peaksoft"/>

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

        <context:annotation-config></context:annotation-config>


<!-- <context:property-placeholder location="musicPlayer.properties"/>
    <bean id="myMusic"
          class="com.peaksoft.RockMusic">

    </bean>
    <bean id="playerMusic"
          class="com.peaksoft.MusicPlayer">
        <property name="music" ref="myMusic"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>-->

</beans>